*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container .navbar-brand a h1{
    vertical-align: center;
    justify-content: center;
    align-items: center;
}
.navbar{
    width: 100vw;
    height: 10vh;
    background-color: rgb(72, 180, 252);
}
#logo-img{
    display: inline;
    float: left;
    padding-left: 10px;
}
#logo-img img{
    width: 80px;
    /* height: 73px; */
    height: 10vh;
    border-radius: 5px;
}
.navbar-brand a h1{
    color: black;
    /* text-align: center; */
    padding-top: 20px;
    padding-left: 108px;
}
#menu-icon{
    display: none;
}
#menu-icon:hover{
    background-color: grey;
    color: white;
}
/*For Medium devices*/
@media (min-width: 432px) and (max-width: 811px) and (min-height: 800px){
    #menu-icon{
        margin-top: 50px;
        padding: 15px;
    }
    #collapsable-nav{
        clear: both;
        margin-top: -43px;
    }
}

/* For medium and small devices */
@media (max-width:812px) {
    #collapsable-nav ul{
        flex-direction: column;
    }
    #collapsable-nav{
        display: none;
        background-color: rgb(72, 180, 252);
        border: 2px solid black;
        border-radius: 15px;
    }
    #collapsable-nav ul li{
        margin-top: 50px;
        padding: 10px !important;
    }
    #li2{
        margin-top: 20px;
    }
    #collapsable-nav ul li a{
        height: 48px;
    }
    #menu-icon{
        display: block;
        float: right;
        font-weight: bold;
        margin-top: -50px;
        border: 2px solid black;
        border-radius: 5px;
        font-size: 2em;
    }
    #main-content img{
        width: 100vw;
        margin-top: 0px !important;
        box-sizing: border-box !important;
        padding: 10px;
        border-radius: 30px;
    }
}
.navbar-brand a{
    text-decoration: none;
}

#collapsable-nav{
    /* display: none; */
    float: right;
}
#collapsable-nav ul{
    display: flex;
    list-style: none;
    margin-top: -43px;
    font-weight: bold;
    margin-right: 50px;
    display: flex;
}
#collapsable-nav ul li{
    padding: 20px;
}
#collapsable-nav ul li:hover{
    border: 1px solid black;
    border-radius: 10px;
    font-size: 1.2em;
}
#collapsable-nav ul li a{
    text-decoration: none;
    color: black;
}

#main-content img{
    margin-top: 10px;
}
#main-content{
    display: flex;
    justify-content: center;
    clear: both;
}

.col-md-4{
    padding: 25px;
    text-align: center;
}
/* For large devices */
@media (min-width: 992px) {
    .col-md-4{
        width: 33.33%;
        float: left;
    }
    #main-content img{
        height: 45vh;
        width: 90%;
    }
}
/* For tablets devices */
@media (min-width: 768px) and (max-width:991px) {
    .col-sm-6 {
        width: 50%;
        float: left; 
    }
    .col-sm-12 {
        width: 100%;
        float: left; 
    }
}
.products-tittle, .specials-tittle, .map-tittle{
    height: 250px;
    /* will occupy 100% of its parents width */
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 2px solid #3F0C1F;
    overflow: hidden;
    border-radius: 5px;
}
.products-tittle:hover, .specials-tittle:hover, .map-tittle:hover{
    box-shadow: 0 2px 10px 2px #cccccc;
}
.products-tittle{
    background: url(https://images7.alphacoders.com/567/thumb-1920-567988.jpg) no-repeat;
    background-size: 100% 100%;
}
.specials-tittle{
    background: url(https://images.macrumors.com/t/jNcm58FN8ttFBI9tSZs3cmyx150=/800x0/smart/article-new/2017/12/Deals-Header-Image-Blue.jpg?lossy) no-repeat;
    background-size: 100% 100%;
}
.products-tittle span, .specials-tittle span, .map-tittle span{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    font-size: 1.6em;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    opacity: .8;
}